In [1]:
import pandas as pd
import numpy as np

In [4]:
import pandas as pd
import numpy as np

# Create sample data
data = {
    'category': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
    'store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S1', 'S2', 'S2'],
    'sales': [1200, 1500, 1800, 1300, 900, 1100, 1600, 1400],
    'quantity': [50, 60, 75, 55, 40, 45, 65, 58],
    'date': ['2024-01-01', '2024-01-02', '2024-01-01', '2024-01-02',
             '2024-01-01', '2024-01-02', '2024-01-01', '2024-01-02']
}

# Create DataFrame
df = pd.DataFrame(data)

# Convert date column to datetime
# df['date'] = pd.to_datetime(df['date'])

df

  category store  sales  quantity        date
0        A    S1   1200        50  2024-01-01
1        A    S1   1500        60  2024-01-02
2        A    S2   1800        75  2024-01-01
3        A    S2   1300        55  2024-01-02
4        B    S1    900        40  2024-01-01
5        B    S1   1100        45  2024-01-02
6        B    S2   1600        65  2024-01-01
7        B    S2   1400        58  2024-01-02

In [8]:
cat = df.groupby('category')  # ab ye as a obeject bna deta  hai

cat 
for i , v in cat :
    print(i)
    print(v)

A
  category store  sales  quantity        date
0        A    S1   1200        50  2024-01-01
1        A    S1   1500        60  2024-01-02
2        A    S2   1800        75  2024-01-01
3        A    S2   1300        55  2024-01-02
B
  category store  sales  quantity        date
4        B    S1    900        40  2024-01-01
5        B    S1   1100        45  2024-01-02
6        B    S2   1600        65  2024-01-01
7        B    S2   1400        58  2024-01-02

In [10]:
cat = df.groupby('category').sum()  # ab ye as a obeject bna deta  hai

cat

             store  sales  quantity                                      date
category
A         S1S1S2S2   5800       240  2024-01-012024-01-022024-01-012024-01-02
B         S1S1S2S2   5000       208  2024-01-012024-01-022024-01-012024-01-02

In [12]:
cat = df.groupby('category')['sales'].sum()  # ab ye as a obeject bna deta  hai

cat

category
A    5800
B    5000
Name: sales, dtype: int64

In [18]:
cat = df.groupby(['category' , 'store'])['sales'].sum()  # ab ye as a obeject bna deta  hai

cat

category  store
A         S1       2700
          S2       3100
B         S1       2000
          S2       3000
Name: sales, dtype: int64

In [20]:
df['sales'].mean()

np.float64(1350.0)

In [25]:
df['sales'].agg(['sum', 'mean','min','max'])

sum     10800.0
mean     1350.0
min       900.0
max      1800.0
Name: sales, dtype: float64